* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
    height: 100%;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.triangle {
  height: 200px;
  width: 200px;
  border: solid 100px transparent;
  border-right: solid 200px #c17832;
  border-left: 0;
}

footer{
  
}





